<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simpfitsu">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpFitsU">
        <activity android:name=".PlayEnd"></activity>
        <activity
            android:name=".Options"
            android:theme="@style/Theme.SimpFitsU.NoActionBar" />

        <service
            android:name=".MusicService"
            android:enabled="true" />

        <activity
            android:name=".MainMenu"
            android:label="Main Menu"
            android:theme="@style/Theme.SimpFitsU.NoActionBar" />
        <activity
            android:name=".Play"
            android:label=""
            android:theme="@style/Theme.SimpFitsU.NoActionBar"
            />
        <activity
            android:name=".activity_splash_screen"
            android:label=""
            android:theme="@style/Theme.SimpFitsU.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>